<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <style>
    .navbar {
        margin: 10px 0px 20px 0px;
        background-color: lightblue;
        border-radius: 10px;
    }
    </style>
</head>


<body>
    <div class="container">
        <div class="row navbar">
            <div class="col-sm-4">
                <h2>Welcome, {{current_user.first_name}}!</h2>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-5" style="text-align:right;">
                <a href="/board"><button class="btn btn-info">Home</button></a>
                <a href="/edit"><button class="btn btn-info">Edit my account</button></a>
                <a href="/logout"><button class="btn btn-info">Logout</button></a>
            </div>
        </div>

        <div class="col-sm-6">
        <h4>Edit my account:</h4>

        {% for message in messages %}
            {% if 'error' in message.tags %}
                <p style="color:red">{{ message }}</p>
            {% endif %}
            {% if 'success' in message.tags %}
                <p style="color:green">{{ message }}</p>
            {% endif %}
        {% endfor %}


            <form action="../editing_user" method="post" class="form-control">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input class="form-control" type="text" name="first_name" value="{{current_user.first_name}}"/>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input class="form-control" type="text" name="last_name" value="{{current_user.last_name}}"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="email" value="{{current_user.email}}"/>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>


    </div>

</body>
</html>
